*{ margin: 0; padding: 0;
}

.wrapper{ background-color: rgb(235, 232, 232);margin: 0px;width: 100%;height: 4000px; font-family: 'Montserrat', sans-serif;}
    .nav{ background-color: #003868; display: flex; justify-content: space-between; align-items: center; position: fixed; padding:15px 10px 2px 10px;  height: 50px; width: 100%; font-size: 30px;}
        .nav ul{ display: flex;  list-style: none; width: 60%;}
            .nav ul li{ margin: 5px 15px; position: relative;}
            .nav ul li:hover ul{ display: block; }
            .nav ul ul{ position: absolute; display: none; list-style:none; width:400px; height: 120px; margin: 0 px; background-color:#003868; opacity: 0.8; bottom: -124px;  box-shadow:0 0 5px gray;}
            .nav ul ul a{ position: relative; display: block; line-height: 30px; border-radius:3px; color:rgb(255, 255, 255); text-decoration:none; font-size:25px; padding:20x;}
    .nav :hover{ color: rgb(136, 197, 253);}            
        .nav span{ font-size: 40px;}
        .ic-lgr{ margin-right: 60px;}
        /* --------- */
    .daily{
        display: flex;
        flex-direction: column;
        height: 2100px;
        padding: 70px 0 0 0;
    }
        .daily>p{
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            color: #003868;
            width: 30%;
            font-size: 25px;
            margin: 20px 0 30px 450px;
            padding: 0px;
            text-decoration: underline;
        }
        .agencies{ display: flex; flex-direction: row; justify-content: space-between; padding: 20px; border-bottom: #003868 1px solid;}
        .agencies img{
            width: 90%;
            border-radius: 15px;
            box-shadow: 0 5px 15px 1px gray;
            margin: 0px 0px 0px 20px;
        }

        .agency{
            display: flex;
            flex-direction: column;
            flex-grow: 0.2;
            border: 1px solid #003868;
            border-radius: 15px;
            margin: 5px;
            padding: 20px 0 0 0;
        }
            .agencor{
                display: flex;
                flex-direction: row;
                justify-content:space-between;
            }
                .agencor>img{
                    width: 30%;
                    height: 80%;
                    border-radius: 100%;
                    box-shadow: 0 0 0 0;
                }
                .inf{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 0 10px 0 0;
                    width: 70%;
                }
                .inf{
                    padding: 15px 0 15px 0;
                }

          .content{ width: 100%; display: flex; flex-direction: row; }
        .content img{ justify-content: space-between; padding: 10px;}
    .content2{ width: 100%; display: flex; height: 500px; flex-direction: column; margin-bottom: 20px;}
        .content2 h1{ font-size: 70px; margin: 50px; padding: 0   ; line-height: 100px; color: #003868; border: 3px solid #003868 ; }
        .cnt2-right{ display: flex; flex-direction: row; width: 1200px; height: 200px;  padding: 0; margin: 0;}
            iframe{ width: 500px; height: 300px; margin-left: 200px;}
    footer{ background-color: #003868 ; height: 250px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
        footer img{margin-left: 50px}
        td{ padding: 5px;}
        footer a{ padding-left: 10px;}
        .sub{ display: flex; flex-direction: column; padding-right: 10px;}
            .sub p{  border: #fff 1px solid; border-radius: 10px; color: #fff;}
            .icons{ text-align: center; color: #fff; }
h1{ font-family: 'Lobster', cursive; color: #5eb2fc; text-align: center; line-height: 90px;}
p{ color: #000000; padding: 5px 20px 0 20px; text-align: justify; margin-bottom: 15px; line-height: 25px; font-family: 'Noto Sans', sans-serif;}
a{ text-decoration: none; padding: 10px 20px 0 20; color: #fff;}
ul{ list-style: none;}
.material-symbols-outlined{
    color: #003868;
}