*{
    margin: 0;
    padding: 0;
}

.wrapper{ background-color: rgb(235, 232, 232);margin: 0px;width: 100%;height: 2000px; display: flex;flex-direction: column;font-family: 'Montserrat', sans-serif;}
    .nav{ background-color: #003868; display: flex; flex-direction: row; justify-content: space-between; align-items: center; position: fixed; padding:15px 10px 2px 10px; height: 50px; width: 100%; font-size: 30px;}
    .nav a{ flex-direction: row; justify-content: space-between;}
    .nav :hover{ color: rgb(136, 197, 253);}            
        .nav-left{ width: 600px; display: flex; flex-direction: row; justify-content:space-between;}
            .nav a span{ font-size: 40px;}
        .ic-lgr{ padding-right: 10px;}
    .banner{ background-image: url(./Images/pepsi_banner.png); height: 500px; background-repeat: no-repeat; background-size: cover; margin-top: 90px;}
button{ position:relative   ; left: 600px; width: 200px; height: 40px; top:88%; border:none ; background-color: #b9deff; border-radius: 25px; color: #003868; opacity: 1; font-size: 20px; font-family: 'Montserrat', sans-serif; box-shadow: 0 5px 3px 0 #044dd4; transition: 0.5s; cursor: pointer; }        button:active{ box-shadow: none; transform: translateY(5px) ; opacity: 0.8;}
    .content{ width: 100%; display: flex; flex-direction: row; }
        .content img{ justify-content: space-between; padding: 10px;}
    .content2{ width: 100%; display: flex; height: 500px; flex-direction: column; margin-bottom: 20px;}
        .content2 h1{ font-size: 70px; margin: 50px; padding: 0   ; line-height: 100px; color: #003868; border: 3px solid #003868 ; }
        .cnt2-right{ display: flex; flex-direction: row; width: 1200px; height: 200px;  padding: 0; margin: 0;}
            iframe{ width: 500px; height: 300px; margin-left: 200px;}
    footer{ background-color: #003868 ; height: 250px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
        footer img{
            margin-left: 50px
        }
        td{ padding: 5px;}
        footer a{ padding-left: 10px;}
        .sub{ display: flex; flex-direction: column; padding-right: 10px;}
            .sub p{  border: #fff 1px solid; border-radius: 10px; color: #fff;}
            .icons{ text-align: center; color: #fff; }
h1{ font-family: 'Lobster', cursive; color: #5eb2fc; text-align: center; line-height: 90px;}
p{ color: #000000; padding: 5px 20px 0 20px; text-align: justify; margin-bottom: 15px; line-height: 25px; font-family: 'Noto Sans', sans-serif;}
a{ text-decoration: none; padding: 10px 20px 0 20; color: #fff;}
ul{ list-style: none;}